
/* 
    Created on : Mar 1, 2015, 10:42:05 PM
    Author     : ivanmajeru
*/

#wraper {
    width: 750px;
    margin: 25px auto 5px;
}

h1 {
    text-align: center;
    
}

h2 {
    text-align: center;
    color: green;
}

.login-form {
    width: 250px;
    margin: 25px;
}

.content-form {
    
    width: 250px;
    margin: 5px auto;
}

.container {
    width: 100%;
}

.content {
    width: 75%;
    display: block;
    float: left;
}
.sidebar{
    width: 24%;
    float: right;
}